<ng-container *ngIf="user$ | async as user">
    <h1>Welcome to the Section, {{user.displayName}}!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae non architecto eum ipsa voluptatum corrupti
        nam odit doloremque aspernatur illum. Neque culpa numquam sit ducimus debitis quae suscipit necessitatibus
        dicta.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quidem deleniti excepturi provident veniam
        suscipit pariatur animi aut totam, dignissimos iure, quis voluptatem beatae modi. Deleniti corrupti officiis
        perspiciatis repellat. Eligendi corporis soluta quae fugiat ipsum corrupti hic similique saepe quis nisi! Nihil,
        inventore quae ipsum dignissimos perspiciatis optio quaerat corrupti officiis ab, ad nisi! Explicabo sequi
        pariatur non odio id quas quo excepturi ea accusantium libero, architecto aliquam, nobis similique officia
        dolore, exercitationem recusandae! Dolorum hic laudantium molestias ducimus quia doloribus dignissimos,
        assumenda eum modi alias. Explicabo nisi minima aspernatur, eligendi, voluptas aliquid veritatis eveniet
        repellat corrupti, harum architecto!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus numquam commodi odit! Enim corrupti omnis
        quae fuga, quidem non aperiam! Tenetur aperiam ut optio veniam quaerat laboriosam odit totam eos, similique quo
        unde facilis iure dicta dignissimos quam earum, tempore quis, autem nihil sunt nostrum? Aperiam, odit
        consectetur! Perspiciatis amet veritatis eum totam delectus saepe esse cum fugiat, fugit quis sint, dolorem
        iure. Modi enim sapiente repellat atque, maiores exercitationem dolor mollitia optio itaque fugit voluptas iste
        nam eaque expedita doloremque voluptate harum culpa assumenda et. Veniam harum libero vero, tempora cum fuga
        doloribus, accusamus distinctio ea ex totam illum enim similique culpa. Impedit minima quibusdam, amet explicabo
        quasi obcaecati? Nobis deserunt inventore aspernatur dignissimos eaque ad porro dolorem veritatis rerum, laborum
        culpa quae expedita consequuntur! Aliquam rem nihil consequatur! Facere voluptas eaque possimus, iure odit
        voluptate laborum incidunt, tenetur eveniet asperiores esse voluptatibus nostrum aspernatur, officia voluptatem
        est ad! Quisquam provident vitae inventore iste voluptates ipsum beatae explicabo ducimus quidem architecto rem
        repellat facere et deleniti dignissimos, illo officiis, excepturi harum itaque aspernatur soluta. Optio porro ad
        quam eius exercitationem ab quo vitae beatae nisi? Libero quia tenetur velit maxime aperiam, quasi, sequi
        impedit suscipit ducimus recusandae excepturi, accusamus rem et. Eligendi aliquid distinctio iusto nulla sint
        dolorem dolor. Perspiciatis eos harum enim tenetur ipsum. Quam, quos molestias quae placeat praesentium commodi
        eaque. Minima, eligendi. Officia veniam nihil modi laudantium reprehenderit cum hic minus officiis quibusdam
        nisi qui maiores, quidem fugit, adipisci consequatur nesciunt. Deserunt vitae cum suscipit, quibusdam
        dignissimos perferendis officia quae numquam labore ratione incidunt fuga! Quos repudiandae nemo aliquam ex
        modi? Eos porro, dicta veniam id necessitatibus et sed quasi dolore incidunt! Adipisci eius obcaecati cumque
        inventore ad, autem dolores et, rerum expedita, voluptas praesentium ipsum earum atque aut cum tempora! Optio
        atque alias asperiores doloremque? Ut pariatur quae placeat distinctio laboriosam itaque soluta quod, ipsum rem
        veritatis reprehenderit? Iure, accusamus. Repellendus quasi nesciunt sapiente minus impedit tempora. Dolorem
        quos dolor adipisci perferendis vero commodi atque, esse molestiae ut, saepe eum dolorum mollitia quam odit,
        facere cumque neque quasi expedita. Mollitia recusandae et dolore autem a magnam at assumenda suscipit vero
        quidem quam adipisci nulla, voluptatibus obcaecati veniam? Laudantium exercitationem quos nulla unde repellendus
        ipsum laborum quaerat dicta, numquam quis illum officia recusandae distinctio dolor nemo aspernatur voluptas
        esse nostrum in autem sit necessitatibus rem inventore excepturi? Distinctio earum voluptatibus modi est
        veritatis eveniet recusandae nobis vel, nostrum fugiat laboriosam quasi doloribus. Nisi soluta, vel perspiciatis
        facere nulla aut odio blanditiis quos reiciendis eum. Illo assumenda suscipit harum eius odio? Impedit pariatur
        ex ab molestias assumenda iusto repudiandae quisquam ducimus! Ducimus, saepe tempore quisquam enim
        necessitatibus rem voluptatibus exercitationem quo qui sint doloremque officia eveniet perspiciatis unde dicta
        dolorem, ipsum hic obcaecati minima. Praesentium repellendus neque mollitia culpa quaerat est voluptatibus hic
        autem fugit necessitatibus, pariatur nostrum asperiores veritatis natus eum quia perspiciatis obcaecati
        similique dolores? Eos dolorum numquam sed fugit facilis debitis aut molestiae, vel cum corporis neque animi
        ipsa quidem modi quam beatae ea dolores explicabo iste, ipsam blanditiis iusto rerum. Tempore voluptatum at
        suscipit, modi, ratione a quisquam maiores consectetur obcaecati accusamus accusantium voluptates vel cum
        corrupti rerum facilis molestiae tenetur similique libero! Officia sapiente numquam voluptatem autem inventore
        provident facere eaque corrupti alias repudiandae culpa odit accusantium, quia ipsa maxime nulla sequi
        blanditiis illo! Sunt pariatur sapiente corporis ipsa expedita. Aspernatur laudantium perferendis dolorem
        nesciunt nam nemo odit autem nostrum, quis aliquid commodi earum non molestiae excepturi vitae eum suscipit
        ipsum, iure quia at quaerat rem doloremque sit! Omnis, a veritatis voluptatibus ullam fuga similique eius harum
        asperiores tenetur voluptas. Neque ullam vel a temporibus labore consectetur. Mollitia veritatis animi magnam
        possimus inventore, molestiae est voluptatem modi quae laborum earum cupiditate amet repellendus sed! Est,
        facere! Tempora, ut unde ab adipisci qui, quaerat minima fugiat neque harum porro aliquid quas omnis illum
        repellendus numquam at hic iure modi. Temporibus quaerat quidem quam ratione pariatur excepturi tenetur
        cupiditate fugiat molestiae laborum, veritatis, commodi totam optio, eveniet voluptatibus. Officiis, iusto?
        Fugit laudantium vel, ipsa aliquam vitae quaerat optio consequatur non! Enim doloremque, et placeat porro
        eveniet tempore reprehenderit dolor molestias, adipisci suscipit neque! Ab corrupti rerum tempora, tempore
        quaerat vel aut illum? Voluptate est odio eius quos architecto omnis, doloremque reprehenderit odit ut labore
        consequuntur incidunt ipsa dolore aut distinctio fugiat. Adipisci dolor molestias asperiores quas praesentium
        quo autem ad ab maxime dolorum veniam magni illo esse officia aperiam, labore quam voluptatem a sequi
        exercitationem! Vel illo soluta totam illum libero optio consequuntur debitis officia sit doloribus, laborum
        quas exercitationem similique accusamus praesentium voluptatibus a. Quas sint possimus incidunt. Sed tempore
        quibusdam autem alias, eum consequuntur eveniet ipsum enim fugit voluptate reiciendis quos sit ut minima ab,
        doloremque et, corrupti exercitationem facere blanditiis? Quidem est earum ipsam perferendis labore recusandae
        repellat doloribus, officiis blanditiis rerum totam animi inventore ad corrupti pariatur eligendi ea commodi
        nisi, corporis ducimus. Itaque perspiciatis autem exercitationem, eos mollitia, distinctio a veritatis culpa
        voluptas iure repellat quia nostrum similique reprehenderit nesciunt aliquid. Explicabo incidunt, unde error
        natus sunt eveniet quibusdam architecto ut adipisci aut, non amet tenetur assumenda quis sapiente ipsam ab
        maxime qui nesciunt asperiores! Quam minus sunt repudiandae deleniti corrupti culpa enim dolorem amet magnam
        deserunt provident aut, tempore ab, eum placeat. Quasi rerum fugit nesciunt magni, nostrum dolores excepturi,
        aliquid numquam voluptatibus veniam, deserunt soluta placeat error perspiciatis vitae quam aperiam corrupti
        enim? Enim esse placeat in dolorem incidunt excepturi nostrum veniam voluptatum laudantium beatae? Possimus
        voluptas perspiciatis necessitatibus dolore modi placeat exercitationem tempora molestiae reiciendis quis
        quaerat repellat ipsa, animi odit eius quod voluptatum sequi? Similique quibusdam soluta laborum quam
        repudiandae, perspiciatis cum. Enim saepe veniam iste aut, temporibus magni quia molestias at est maxime
        incidunt eius facere in tenetur veritatis reprehenderit ad esse neque sequi? Omnis illo nisi accusantium enim
        dolor ad ipsa eveniet quos nulla, nostrum vel unde explicabo, mollitia et sapiente in veniam blanditiis sit
        harum nemo accusamus! Autem eius ratione, et tempore vitae explicabo ad, ipsum mollitia numquam corrupti officia
        eum! Nobis.
    </p>
</ng-container>